
.navigation-bar-container{
    .nav-link{
        color: white;
        font-weight: bold;
        padding-right: 7px;
        text-shadow: 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63), 0 0 4px rgb(0, 3, 63);

    }

}
